@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-shadow-yellow {
        text-shadow: 3px 3px 0 #FECA1B;
    }

    .text-shadow-blue {
        text-shadow: 3px 0px 2px #3761A8;
    }

    .dex-shadow {
        box-shadow: 4px 4px 0 #808080;
    }

    .font-poppins {
        font-family: 'Poppins';
    }
}